/*-------------homepage-----------------*/

body {
  background-color: white;
  font-family: 'Droid Sans', sans-serif;
}

header {
  background-color: black;
}

h1, h2 {
  color: white;
  }

h1 {
  font-family: 'Special Elite', cursive;
  font-size: 400%;
  }

nav {
  margin: 0 auto;
  text-align: center;
  padding: 0 0 20px 0;
}

#nav li {
  padding: 0 30px;
}

#main {
  text-align: center;
  font-family: 'Special Elite', cursive;
}

.name {
  font-weight: bold;
  font-size: 2em;
  margin: 1em;
}

.price {
  margin: .5em;
}

.selling {
  font-style: italic;
}

.bookpic {
  width:25%;
  height:auto;
  margin: auto;
  display: block;
}

#book1 {
  border: 1px solid black;
}

#book2 {
  border: 1px solid black;
}

#book3 {
  border: 1px solid black;
}

footer {
    background-color: black;
    color: white;
}
